.country-list {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    gap: 40px;
    margin-left: 5vw;
}

.country-list .card {
  padding-bottom: 20px;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country-list .image {
  height: 200px;
  width: 100%;
}

.country-list .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card h3 {
    margin-left: 1rem;
}

.info-container {
    display: flex;
    align-items: flex-start; /* Centre les éléments verticalement */
    margin-bottom: 0.5rem; /* Espace entre les conteneurs */
    margin-left: 1rem;
  }
  
  p.title {
    font-weight: 600;
    margin: 0; 
  }
 
  p.value {
    flex-grow: 1;
    font-weight: 400;
  }

  @media screen and (max-width: 450px) {
    .country-list {
      grid-template-columns: repeat(1, 350px);
    }
  }

  