.country-list {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  gap: 40px;
  padding-left: 5vw;
  min-height: 77vh;
}

.dark-mode .country-list {
  background-color: hsl(207, 26%, 17%);
  color: white;
}

.country-list .card {
  padding-bottom: 5vh;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 300px;
}

.country-list .image {
  height: 200px;
  width: 100%;
}

.country-list .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card h3 {
  margin-left: 1.5rem;
  font-size: 16px;
}

.country-list .info-container {
  display: flex;
  align-items: flex-start;
  /* Centre les éléments verticalement */
  margin-bottom: 0.5rem;
  /* Espace entre les conteneurs */
  margin-left: 1.5rem;
}

p.title {
  font-weight: 600;
  margin: 0;
  font-size: 14px;
  padding-right: 5px;
}

p.value {
  flex-grow: 1;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 1400px) {
  .country-list {
    grid-template-columns: repeat(3, 350px);
  }
}

@media screen and (max-width: 450px) {
  .country-list {
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-right: 5vw;
  }
  .card h3 {
    margin-left: 2rem;
  }
  .country-list .info-container {
    margin-left: 2rem;
  }
}
