header {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), /* décalage en X, décalage en Y, flou, étendue et couleur */
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dark-mode header {
    background-color: #2B3743;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 14px;
    width: 100%;
}

.dark-mode header ul {
    color: white;
}

header ul li:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
}

li.dark-mode {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    cursor: pointer;
}

.dark-mode > svg {
    rotate: -30deg;
}

@media screen and (max-width: 450px) {
    header ul {
        padding: 1rem 1rem;
    }
}