.search-bar {
  margin-bottom: 5vh;
}

.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 5vw;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-input-container input[type="text"] {
    border: none;
    outline: none;
  }
  
  .search-input-container .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: hsl(0, 0%, 52%);
  }
  

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar input[type="text"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 24px;
  box-sizing: border-box;
  border: none;
}

.search-bar select {
 padding: 12px 20px;   
 margin: 8px 24px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border: none;
padding-left: 5px;
}

.search-bar select:active, .search-bar select:focus {
  background-color: #fff;
  outline: none;
}

.search-bar select option {
  padding: 10px;
  background-color: #fff;
}

@media screen and (max-width: 450px) {
  .search-bar {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 1vh;
  }
  .search-input-container {
    width: 90%;
    margin: 0;
    margin-bottom: 5vh;
  }
  .search-bar input[type="text"] {
    padding: 20px;
    width: 100%;
    margin: 0;
    margin-left: 5vw;
  }
  .search-bar select {
    align-self: flex-start;
    padding: 0;
    padding-left: 20px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 10vw;
  }
  .country-list {
    gap: 20px;
  }
}
