.search-bar {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.dark-mode .search-bar {
  background-color: hsl(207, 26%, 17%);
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
  margin-left: 5vw;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .search-input-container {
  background-color: hsl(209, 23%, 22%);
}

.dark-mode .search-input-container input[type="text"] {
  color: hsl(0, 0%, 100%);
  background-color: hsl(209, 23%, 22%);
}

.search-input-container input[type="text"] {
  border: none;
  outline: none;
}

.search-input-container .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: hsl(0, 0%, 52%);
}

.dark-mode .search-input-container .search-icon {
  color: white;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.dark-mode ::placeholder,
textarea::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

/* Internet Explorer et Edge */
.dark-mode :-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: white;
}

/* Safari et versions antérieures */
.dark-mode ::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar input[type="text"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 24px;
  box-sizing: border-box;
  border: none;
}

.search-bar select {
  margin-right: 10vw;
  padding: 20px 30px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  padding-left: 5px;
}

.dark-mode .search-bar select {
  background-color: hsl(209, 23%, 22%);
  color: white;
  border-radius: 4px;
}

.search-bar select:active,
.search-bar select:focus {
  background-color: #fff;
  outline: none;
}

.dark-mode .search-bar select:active,
.dark-mode .search-bar select:focus {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.dark-mode .search-bar select option {
  padding: 10px;
  background-color: #fff;
  color: white;
}

.dark-mode .search-bar select option {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.custom-selector {
  position: relative;
}

@media screen and (max-width: 450px) {
  .search-bar {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 0;
    padding-bottom: 1vh;
    padding-top: 20px;
  }

  .search-input-container {
    width: 90%;
    margin: 0;
    margin-bottom: 5vh;
  }

  .search-bar input[type="text"] {
    padding: 20px;
    width: 100%;
    margin: 0;
    margin-left: 5vw;
  }

  .search-bar select {
    align-self: flex-start;
    padding: 0;
    padding-left: 20px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 10vw;
    margin-left: 5vw;
  }
}